@using Sandbox.Modals
@using Sandbox
@using Sandbox.Network

<root>
    @if ( busy )
    {
        <div class="loading"><i>settings_ethernet</i></div>
    }
    else if ( filteredLobbies.Count == 0 )
    {
        <div class="notice">Sorry - no servers were found 😔</div>
    }
    else
    {
		<div class="header row">
			<h2 class="title" onclick="@(() => SetSort( "name" ))">Name</h2>
			<h2 class="game" onclick="@(() => SetSort( "game" ))">Game</h2>
			<h2 class="map" onclick="@(() => SetSort( "map" ))">Map</h2>
			<h2 class="members" onclick="@(() => SetSort( "members" ))">Players</h2>
		</div>
        <VirtualList Items=@GetData() ItemHeight=@(48)>
            <Item Context="item">
                @if ( item is LobbyInformation lobby )
                {
                    <ServerRow Server="@lobby"></ServerRow>
                }
            </Item>
        </VirtualList>
    }
</root>

@code
{
    [Parameter]
    public ServerListConfig Config { get; set; } = default;

    /// <summary>
    /// Opportunity to filter the shown list of servers
    /// </summary>
    [Parameter] public Func<LobbyInformation, bool> Filter { get; set; }

    public IEnumerable<Friend> Friends => MenuUtility.Friends.Where( x => !x.IsMe )
        .OrderBy( x => x.Name )
        .OrderBy( x => x.IsAway || x.IsBusy || x.IsSnoozing );

    bool busy;
    List<LobbyInformation> lobbies = new();

    string sortBy;
    bool sortDescending;

    List<LobbyInformation> filteredLobbies => Filter is not null
        ? lobbies.Where( Filter ).ToList()
        : lobbies;

    IEnumerable<object> GetData()
    {
        return ApplySort( filteredLobbies ).Cast<object>();
    }

    IEnumerable<LobbyInformation> ApplySort( IEnumerable<LobbyInformation> source )
    {
        if ( sortBy is null )
            return source.OrderByDescending( x => x.Members );

        Func<LobbyInformation, object> key = sortBy switch
        {
            "name" => x => x.Name,
            "game" => x => x.Game,
            "map" => x => x.Map,
            "members" => x => x.Members,
            _ => x => x.Members
        };

        return sortDescending
            ? source.OrderByDescending( key )
            : source.OrderBy( key );
    }

    void SetSort( string column )
    {
        if ( sortBy == column )
        {
            sortDescending = !sortDescending;
        }
        else
        {
            sortBy = column;
            sortDescending = false;
        }

        StateHasChanged();
    }

    protected override async Task OnParametersSetAsync()
    {
        await RefreshLobbies();
    }

    public async Task RefreshLobbies()
    {
        lobbies = default;
        StateHasChanged();

        busy = true;

        var filters = new Dictionary<string, string>
        {
	        { "game", Config.GamePackageFilter },
	        { "map", Config.MapPackageFilter },
        };
        
        lobbies = await Networking.QueryLobbies( filters );
        
        busy = false;

        StateHasChanged();
    }

    void OnLobbySelected( LobbyInformation lobby )
    {
        Networking.Connect(lobby.LobbyId);
    }
}
